*{
    padding: 0;
    margin: 0;
}
header{
    max-width: 1200px;
    margin: auto;
    width: 100%;
}
.container_header{
    max-width: 1200px;
    margin:auto;
    display: flex;
    padding: 30px 29px;
    justify-content: space-between;
    align-items: center
}
body{
    background:#181818
}

#navbar{
    list-style: none;
    display: flex
}
.items1{
    margin-right: 56px
}
.item23{
    margin-right: 32px
}
.item4{
    margin-right: 51px
}
.item5{
    color:#000000
}
.a1234{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;color: #FFFFFF;
    text-decoration: 0;
}
.a5{
    border-radius: 14px;background: #FFFFFF;
    text-decoration: none;
    padding: 9px 20px;
    font-family:'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
}
.section_banner{
    background-image: url('../images/IMAGE.jpg');
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 71px;
    box-sizing: border-box;
    position: relative;
}
.h_p{
    max-width: 600px;
    text-align: center;
}
.h2{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    color: #C0C0C0;

}
.h1{
    font-family:'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 54px;
    line-height: 59px;
    text-align: center;
    color: #FFFFFF;
}
.P{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #C0C0C0;
    padding: 18px;
}
.fixid_location{
    position: absolute;
    right: 40px;
    bottom: 40px;
    list-style: none;
    display: flex;
    align-items: center;
}
.fixid_location li{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    color: #FFFFFF;
    margin-left: 16px;
    display: flex;
    align-items: center;

}
.fixid_location li:before{
    content: "";
    display: inline-block;
    background-image: url("../images/icon1.svg");
    width: 16px;
    height: 16px;
    margin-right: 6px;
}
.fixid_location li:nth-child(2):before{
    background-image: url("../images/icon2.svg");
}
.fixid_location li:nth-child(3):before{
    background-image: url("../images/icon3.svg");
    width: 32px;
}
.fixid_location li:nth-child(4):before{
    background-image: url("../images/icon4.svg");
    width: 10px;
}
.leavs{
    background-image: url("../images/image_leavs.jpg");
    background-size: cover;
    min-height: 600px;
    position: relative;
    display: flex;
    justify-content: right;
    align-items: center;
}
.leavs .leavs_container{
    max-width: 273px;
    margin-right: 87px;
}
.leavs .leavs_container h5{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.leavs .leavs_container p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #C0C0C0;
}
.sunset{
    background-image: url("../images/image_sun.jpg");
    background-size: cover;
    min-height: 600px;
    position: relative;
    display: flex;
    justify-content: right;
    align-items: center;
}
.sunset .sub_container{
    max-width: 298px;
    margin-right: 62px;

}
.sunset .sub_container h4{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.sunset .sub_container p{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #C0C0C0;
}
.client_links{
    background-color:#000000;
    min-height: 500px;
    text-align: center;


}
.client_links h6{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 42px;
    text-align: center;
    color: #FFFFFF;
    padding-top: 113px;
}
.client_links p{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    color: #C0C0C0;
    padding-top: 15px;
    margin-bottom: 87px;
}

.links{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-width: 128px;
}
.mountain{
    background-image: url("../images/imagemountain.jpg");
    background-size: cover;
    min-height: 600px;
    position: relative;
    display: flex;
    justify-content: right;
    align-items: center;
}
.mountain .mountain_style h6{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.mountain .mountain_style p{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #C0C0C0;
}
.mountain .mountain_style{
    max-width: 241px;
    margin-right: 119px;
}
.touch{
    text-align: center;
    background-color: #000000;
    min-height: 414px;
    align-items: center;

}
.touch .touch_container{
    max-width: 600px;
    align-items: center;
    margin: auto;
    padding-top: 120px;


}


.touch .touch_container h7{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 42px;
    text-align: center;
    color: #FFFFFF;

}
.touch .touch_container p{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    color: #C0C0C0;
    margin-bottom: 22px;
    margin-top: 15px;
}
.g_touch{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.4px;
    color: #000000;
    text-decoration: none;
    box-sizing: border-box;
    background: #FFFFFF;
    border-radius: 14px;
    padding: 5px 10px 5px 4px;
    display: inline-flex;
    align-items: center;


}
.touch a:before{
    content: "";
    display: inline-block;
    background-color: #181818;
    width: 32px;
    height: 32px;
    border-radius: 12px;

}

